body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #9bd1c3; */
    background:#004080;
    color: #ffffff;

  

    width: 100%;
    height: 60px;
    font-size: 20px;
    position: fixed;
    /* margin-bottom: 20px; */

}

.item2{
    display: flex;
    gap: 20px;
    margin-right: 15px;
}
.logo{
    padding: 0px;
}
.profile{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}       